@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
    border: 2px solid black;
    margin: 100px;
}

.title {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    border: 2px solid black;
    margin: 5px;
    background-color: #003E1F;
}

.title h1 {
    margin: 30px;
    color: white;
}

.recipes {
    text-align: center;
    border: 2px solid black;
    background-color: white;
    margin: 5px;
    padding: 5px;
}

.recipes li {
    display: inline-block;
    text-align: center;
    border: 2px solid black;
    background-color: white;
    margin: 5px 20px;
    padding: 10px;
}

.recipes img {
    display: block;
    margin-top: 10px;
}

.recipes a:link,
.recipes a:visited{
   color: #003E1F 
}

.recipes a:hover {
    color: #00140A;
}